
    <div class="dialog-payment-successfull">
        <h2  class="dialog-payment-successfull-elements">Thankyou</h2>
        <h4 class="dialog-payment-successfull-elements">Donation Successful</h4>
        <p class="dialog-payment-successfull-elements">Click below to go to Home and Feedback</p>
        <div class="dialog-payment-successfull-elements">
            <button class="btn btn-primary" routerLink="../feedback" mat-dialog-close>Feedback</button>
        </div>
        <div class="dialog-payment-successfull-elements">
            <button class="btn btn-primary" routerLink="../dashboard" mat-dialog-close>Home</button>
        </div>
        <!-- <p>Your booking for {{ selectedDate | date }} at {{ selectedTime }} has been confirmed.</p> -->
    </div>        
