<button mat-icon-button id="chat-bot" matDialogClose><mat-icon>close</mat-icon></button>
<div class="container">
  <!-- <div class="heading" style="display: flex;justify-content: space-around;"> -->
  <h1 style="margin: 10px;">ChatBOT</h1>
  <!-- </div> -->
  <div class="chat-box">
    <div class="message-list">
      <div class="message user">
        <p>{{ userMessage }}</p>
      </div>
      <div class="message assistant" *ngFor="let message of assistantMessages">
        <p>{{ message.content }}</p>
      </div>
    </div><mat-icon></mat-icon>
    <div class="input-container">
      <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Enter your message..." />
      <button id="sendbtn" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>