@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import "~font-awesome/css/font-awesome.css";
.title{
  font-family:'Mooli', sans-serif;
  font-weight: bold;
  color: #E6E8E6;
  }
  
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .icon1{
    font-size: 25px;
  }
  
  #navv-btn{
    background-color: #9FB8AD;
    color: #3F403F;
  }

.wcu-card {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}
.card-text-con {
font-family: sans-serif;
font-style: italic;
color: #7b8794;
 font-size: 12px;
}

.review-card {
border: 1px solid #e0e0e0;
border-radius: 8px;
padding: 20px;
margin-bottom: 20px;
background-color: #f9f9f9;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.review-name {
font-size: 18px;
font-weight: bold;
color: #62ceef;
}

.review-rating {
font-size: 20px;
color: #272625; /* Change the color to match your design */
}

.star {
margin-right: 4px;
}

.review-text {
font-size: 16px;
color: #666;
}

.card-subtitle{
  font-size: 18px;
}
.star {
  color: gold; /* Set the star color to gold */
  border-color: #ffffff;
  font-size: 20px;
}
.card-title{
  font-size: 22px;
}
.header {
  text-align: center;
  background-color: #cfbcda;
  padding: 20px;
}

.site-title {
  font-size: 36px;
}

.site-description {
  font-size: 18px;
  margin-top: 10px;
  font-family: Cursive;
  font-style: italic;
}

/* CSS for dashboard images */
.dashboard {
  display: flex;
  justify-content: space-between; /* Separate items to the sides */
  align-items: center; /* Vertically center items */
  background-color: #f5f5f5;
  padding: 20px;
}

.dashboard-item {
  display: flex; /* Nested flex container */
  align-items: center;
}

.dashboard-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow to containers */
  padding: 10px; /* Add padding for spacing and appearance */
}

.dashboard-image {
  max-width: 500px; /* Adjust the max-width as needed */
  height: 250px; /* Maintain aspect ratio */
  margin: 5px; /* Remove margin for spacing */
}

.dashboard-text {
  flex: 1; /* Allow text to take remaining space */
}

.dashboard h2 {
  font-size: 24px;
  color: #333333;
}

.dashboard-amount {
  font-size: 36px;
  color: #003366;
  margin-top: 10px;
}


